"*":
  "activate-power-mode":
    comboMode:
      activationThreshold: [
        "1"
        "15"
        "30"
        "50"
      ]
    plugins:
      playAudio: true
      screenShake: true
  "atom-beautify":
    general:
      _analyticsUserId: "2968b768-c7ee-4bfd-b74a-e6d95fac534f"
  "atom-material-ui":
    colors:
      abaseColor: "#494545"
      genAccent: true
    fonts: {}
    tabs:
      compactTabs: true
      stretchedTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "build-cmake": {}
  "color-tabs":
    borderStyle: "left"
    markerStyle: "square"
  core:
    disabledPackages: [
      "activate-power-mode"
      "ide-html"
      "linter"
      "atom-ide-debugger-native-gdb"
      "atom-ide-ui"
      "autocomplete-clang"
      "gpp-compiler"
      "linter-gcc"
      "linter-gcc2"
      "tool-bar"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "mononoki"
    fontSize: 16
  "exception-reporting":
    userId: "0d09bc59-dff2-4ecf-b7e9-a1b23cf2ccac"
  "file-icons":
    onChanges: true
  "linter-gcc":
    gccLintOnTheFly: true
  "linter-ui-default":
    panelHeight: 216
    useBusySignal: false
  "tool-bar":
    position: "Left"
    visible: false
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 1
    neverCloseUnsaved: true
